 

<!-- here be types -->

<!-- <div class="Types">
  <span class="Types-action-button">
    <i class="Types-action-button__icon"></i>
  </span>
  <ul class="Types-buttons">
    <li class="Types-buttons__item">
      <a href="#" class="Types-buttons__link" data-tooltip="Facebook">
        <i class="icon-material icon-material_fb"></i>
      </a>
    </li>
    <li class="Types-buttons__item">
      <a href="#" class="Types-buttons__link" data-tooltip="Twitter">
        <i class="icon-material icon-material_tw"></i>
      </a>
    </li>
    <li class="Types-buttons__item">
      <a href="#" class="Types-buttons__link" data-tooltip="Linkedin">
        <i class="icon-material icon-material_li"></i>
      </a>
    </li>
    <li class="Types-buttons__item">
      <a href="#" class="Types-buttons__link" data-tooltip="Google+">
        <i class="icon-material icon-material_gp"></i>
      </a>
    </li>
  </ul>
</div> -->
<!-- 
<div class="indicator">
                <span></span>
                <span></span> <p>Hello. Do you want to view <a href="./Game/index.html">page 2</a> ?</p>
                <span></span>
                <span></span>
                 <span></span>
              </div>   -->


<!-- <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div> -->



<div class="top"></div>









<div class="column">
  <div class="main">
    <div class=" Typelist dropdown" >
      <div class="clear" (click)= "Clear()">Clear</div>
      <div *ngFor="let type of Types , let i = index  " class="StylingTypes dropdown-content">


        <label class="custom-checkbox   ">

          <input type="hidden" name="alarm" value="False" />
          <input class="custom-checkbox-input" name="alarm" value="True" type="checkbox"
            (click)="chooseType($event , i)" id="checkbox{{i}}" value="{{i}}" (click)="hideinfo()">
          <h4 class="{{  type.name }} ForAllTypes  "> {{  type.name }} </h4>

        </label>

      </div>
      <div class="dropbtn">
        <div> Filter</div>
      </div>
    </div>



    <!-- here be main -->


    <div class="Pokemons" *ngIf="hide" (click)="showinfo()">




      <div class="Pokemons__List1">
        <div *ngFor="let p of Allpp , let i = index  " (click)="onClickMe(Allpp , i)">

          <!-- <div *ngIf=" 51 < i && i < 101 ">  -->
          <ng-container *ngIf="hide">
            <div *ngIf="List1__I < i && i <= List1__II " class="border">
              <!--тут border -->
              <!-- <div>{{   [i] }}</div>
            <div> {{  p[i]}}</div> -->
              <div class="images"> <img src="https://pokeres.bastionbot.org/images/pokemon/{{p.id}}.png" alt=""></div>
              <!-- <div  class="Pid">   #{{  p.id }}</div> -->
              <div class="Pokemons__List1__pName">{{  p.name }}</div>
              <!-- <div>тут ід {{  p.id }}</div> -->

              <!-- <div>{{  p.types[0].type.name}}  </div> -->
              <div class="flex"  >

                <div *ngFor="let n of p.types , let a = index  ">

                  <div class="{{  n.type.name }}"> {{  n.type.name }} </div>
                </div>
              </div>
              <div class='{{p.url}}'>{{  p.url}}</div>

              <!-- <td>{{  p.url }}</td>  -->

            </div>
          </ng-container>

        </div>
      </div>


      <div class="Pokemons__List2">
        <div *ngFor="let p of Allpp , let i = index  " (click)="onClickMe(Allpp , i)">

          <!-- <div *ngIf=" 51 < i && i < 101 ">  -->
          <ng-container *ngIf="hide">
            <div *ngIf=" List2__I <= i && i <= List2__II " class="border">
              <!--тут border -->
              <!-- <div>{{   [i] }}</div>
            <div> {{  p[i]}}</div> -->
              <div class="images"> <img src="https://pokeres.bastionbot.org/images/pokemon/{{p.id}}.png" alt=""></div>
              <!-- <div  class="Pid">   #{{  p.id }}</div> -->
              <div class="Pokemons__List2__pName">{{  p.name }}</div>
              <!-- <div>тут ід {{  p.id }}</div> -->

              <!-- <div>{{  p.types[0].type.name}}  </div> -->
              <div class="flex">
                <div *ngFor="let n of p.types , let a = index  ">

                  <div class="{{  n.type.name }}"> {{  n.type.name }} </div>
                </div>
              </div>
              <div class='{{p.url}}'>{{  p.url}}</div>

              <!-- <td>{{  p.url }}</td>  -->

            </div>
          </ng-container>
        </div>

      </div>


      <div class="Pokemons__List3">
        <div *ngFor="let p of Allpp , let i = index  " (click)="onClickMe(Allpp , i)">

          <ng-container *ngIf="hide">
            <div *ngIf="   i >= List3__I && i <= List3__II" class="border">

              <div class="images"> <img src="https://pokeres.bastionbot.org/images/pokemon/{{p.id}}.png" alt=""></div>
              <div class="Pokemons__List3__pName">{{  p.name }}</div>

              <div class="flex">
                <div *ngFor="let n of p.types , let a = index  ">
                  <div class="{{  n.type.name }}" *ngIf="n.type.name" id="checker"> {{  n.type.name }} </div>

                </div>
              </div>
              <div class='{{p.url}}'>{{  p.url}}</div>



            </div>
          </ng-container>
        </div>
      </div>


    </div>




    <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->


    <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->




    <div class="info" (click)="hideinfo()" *ngIf="hideme">
      <!-- <div class="">{{ Clicked }}</div> -->
      <div *ngFor="let p of Clicked , let i = index  ">
        <div> <img src="https://pokeres.bastionbot.org/images/pokemon/{{p.id}}.png" alt="Info" class="info__img"></div>


         
        
        <!-- if id < 10; 100 -->
        <!-- <div  >   #00{{  p.id }}</div> -->
        <div class="info__name"><div class="info__names__part2"> {{  p.name }}</div><div class="info__names__part2"> #0{{  p.id }}</div></div>
        <!-- <div *ngIf=" p.id > 10 ">   #{{  p.id }}</div> -->
        <div *ngFor="let n of p.types , let a = index  ">
          
          <div class="info__type"> <div class="info__type__part1">Type</div><div class="inf__type__part2">  <div class="{{  n.type.name }}"> {{  n.type.name }} </div></div></div>
        </div>
        <div class='info__atack '><div class='info__atack__part1  '>  {{  p.stats[1].stat.name}} </div> <div class='info__atack__part2 '>  {{  p.stats[1].base_stat}}</div></div>
        <div class='info__defense'>  <div class='info__defense__part1  '> {{  p.stats[2].stat.name}}</div> <div class='info__atack__part2'> {{  p.stats[2].base_stat}}</div></div> 
        <div class=' info__health'> <div class=' info__health__part1 '> {{  p.stats[0].stat.name}} </div><div class='info__atack__part2 '> {{  p.stats[0].base_stat}}</div></div>
        <div class='info__SPatack'> <div class="info__SPatack__part1">  SP  atack </div> <div class="info__SPatack__part2"> {{  p.stats[3].base_stat}}</div></div>
                
        <div class=' info__defense'> <div class="info__defense__part1">SP  defense </div> <div class="info__defense__part2">  {{  p.stats[4].base_stat}}</div></div>
        <div class='info__speed  '>   <div class='info__speed__part1  '>  {{  p.stats[5].stat.name}}</div>   <div class='info__speed__part2  '>  {{  p.stats[5].base_stat}}</div></div>
        <div class='info__weight '>   <div class="info__weight__part1 "> weight </div> <div class="info__weight__part2 "> {{  p.weight }}</div> </div>


        <!--  ????? -->
        <div class='info__moves'><div class="info__moves__part1">  moves </div><div class="info__moves__part2"> {{  p.moves.length }}</div></div>
    
    </div>



  </div>


</div>

<div class="buttonForMore" id="button-2" (click)="loadPokemons()" (click)="hideinfo()">
  <div id="slide"></div>
  <a href="#">Load more</a>
</div>